*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
body {
	line-height: 1;
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	max-width: 1020px;
	margin: 0px auto;
	padding: 0px 0px 312px 0px;
}
.conteiner {
	background: url(../img/BG-Image.png) 50% / cover no-repeat local;
}
.title {
	padding: 280px 0px 48px 0px;
	font-weight: 900;
	font-size: 56px;
	color: #ffffff;
}
.button {
	padding: 9px 0px 9px 0px;
	width: 210px;
	height: 48px;
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	background-color: #f2726f;
	color: #ffffff;
	border-radius: 5px;
	margin: 0px 0px 312px 0px;
}
.block2 {
	max-width: 1020px;
	max-height: 700px;
	margin: -80px auto 0px auto;
	background: #5d62b5;
	border-radius: 40px;
	padding: 100px 0px 0px 87px;
}
.block2__header {
	position: relative;
}
.block2__circles {
	position: absolute;
	bottom: 57%;
	left: 87%;
}
.block2__title {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 225%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
	margin: 0px 0px 33px 0px;
}
.block2__subtitle {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #ffffff;
	margin: 0px 0px 36px 0px;
}
.block2__text {
	max-width: 846px;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
.block2__footer {
	position: relative;
}
.block2__spot {
	position: relative;
	z-index: 1;
	bottom: 100px;
	right: 100px;
}
.block2__img {
	position: absolute;
	z-index: 2;
	top: 33px;
	right: 65px;
}
